var config = {
    issuer: 'https://***.oktapreview.com/oauth2/default',
    clientId: '***********',
    redirectUri: 'http://localhost:3000/callback',
    scopes: ['openid', 'profile', 'email'],
    pkce: true,
    useInteractionCodeFlow: true
  };
